@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Kanit", sans-serif;
}

@keyframes pulse-transparent-bg {
  0% {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
  }
  50% {
    background-color: rgba(255, 255, 255, 1); /* Fully opaque */
  }
  100% {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent */
  }
}

.animate-pulse-transparent-bg {
  animation: pulse-transparent-bg 2s infinite; /* Adjust the duration as needed */
}
